{% extends "base.html" %}
{% block content %}

<div class="py-12">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{% if check == True %}Buat{% else %}Sunting{% endif %} Cerita Alumni</h2>
    </div>

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <div class="mb-4">
                    <label for="judul" class="block text-xl font-medium leading-6 text-gray-900">Judul</label>
                    <div class="mt-2">
                        <input id="judul" name="judul" type="text" required class="block w-full rounded-md border-0 p-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Tuliskan judul ceritamu disini" value="{% if data != None %}{{ data.judul }}{% else %}{% endif %}">
                    </div>
                </div>

                <div class="bg-white rounded-b-lg dark:bg-gray-800 mb-8">
                    <label for="isi" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Isi</label>
                    <textarea name="isi" id="isi" rows="4" class="block p-2.5 w-full sm:text-sm rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Tuliskan ceritamu disini">{% if data != None %}{{ data.isi }}{% endif %}</textarea>
                </div>

                <div class="flex p-1">
                    <button onclick="submitCerita()" type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        {% if check == True %}
                        Buat Cerita
                        {% else %}
                        Ubah Cerita
                        {% endif %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden id="flag"></div>

<!-- Success Modal -->
<!--Overlay Effect-->
<div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="success-modal">
    <!--modal content-->
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
                <svg
                    class="h-6 w-6 text-green-600"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 13l4 4L19 7"
                    ></path>
                </svg>
            </div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Berhasil!</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">
                    {% if check == True %}
                    Berhasil Membuat Cerita Baru!
                    {% else %}
                    Berhasil Mengubah Cerita!
                    {% endif %}
                </p>
            </div>
            <div class="items-center px-4 py-3">
                <button
                    id="success-btn"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                >
                    OK
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Failed Modal -->
<!--Overlay Effect-->
<div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="failed-modal">
    <!--modal content-->
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-red-100">
                <svg
                    class="h-6 w-6 text-red-600"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                    ></path>
                </svg>
            </div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Gagal!</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500">
                    {% if check == True %}
                    Gagal Mengubah Cerita!
                    {% else %}
                    Gagal Mengubah Cerita Baru!
                    {% endif %}
                </p>
            </div>
            <div class="items-center px-4 py-3">
                <button
                    id="failed-btn"
                    class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300"
                >
                    Kembali
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let success_modal = document.getElementById("success-modal");
    let failed_modal = document.getElementById("failed-modal");
    let success_button = document.getElementById("success-btn");
    let failed_button = document.getElementById("failed-btn");

    async function submitCerita() {
        let judul = document.getElementById('judul').value;
        let isi = document.getElementById('isi').value;

        if ('{{ check }}' == "True") {
            methods = "POST";
        } else {
            methods = "PATCH";
        }

        try {
            const request = new Request("https://karirku-backend.meervix.com/cerita-alumni/new/", {
                method: methods,
                body: JSON.stringify({"judul": judul, "isi": isi}),
                headers: {'Authorization': `Bearer ${getCookie("access_token")}`, 'Content-Type': 'application/json'},
            });

            const response = await fetch(request);

            if (response.status != 201) {
                throw new Error("Error status");
            }
            
            const result = await response.json();

            success_modal.style.display = "block";
            // console.log(result.id)
            document.getElementById("flag").innerHTML = `/cerita-alumni/detail/${result.id}`;
        } catch (error) {
            failed_modal.style.display = "block";
        }
    }

    success_button.onclick = function() {
        window.location.href = document.getElementById("flag").innerText;
    }

    failed_button.onclick = function() {
        window.location.href = "/cerita-alumni/";
    }

    function getCookie(cName) {
        const name = cName + "=";
        const cDecoded = decodeURIComponent(document.cookie); //to be careful
        const cArr = cDecoded.split('; ');
        let res;
        cArr.forEach(val => {
            if (val.indexOf(name) === 0) res = val.substring(name.length);
        })
        return res
    }
</script>

{% endblock %}
