<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Personalisasi Karier </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-16">
        <h1 class="text-4xl font-bold mb-4"> Personalisasi Karier </h1>
        <p class="mb-8">Berdasarkan hasil kuis kamu, kamu mendapatkan karier di bidang ... </p>

        <div class="bg-white shadow-lg rounded-lg p-8">
            <h2 class="text-2xl font-bold mb-4"> Software (Perangkat Lunak) </h2>
            <p class="mb-4"> Software adalah blablabla.... </p>
            
            <div class="mb-4">
                <a href="/learn-more" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded inline-block"> Lihat Rekomendasi Karier </a>
            </div>
        </div>

        <div class="mt-8">
            <a href="kuis" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> Retake Quiz </a>
        </div>
    </div>
</body>
</html>